body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 16px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 12px;
    padding-right: 12px;
}

img {
    display: grid;
    height: 200px
}

nav {
    padding: 16px;
    border: solid black 1px;
}

a {
    text-decoration: none !important;
  }
